{% extends "base.html.twig" %}

{% block title %}Blog5 - Post{% endblock %}

{% block header %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/aurora.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Billets</h1>
            <span class="subheading">Suivez nos dernières actualités</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}

<!--je parcours ma liste de résultats et chaque ligne est assignée à la variable post -->
{% for post in posts %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/post">
            <h2 class="post-title">
            <!--j'affiche le champs title depuis la ligne en cours -->
              {{ post.getTitle()|e }}
            </h2>
            <h3 class="post-subtitle">
               {{ post.getChapo()|e }}...
            </h3>
          </a>
            <p class="post-subtitle ">
               {{ post.getContent()[:250]|raw }}...
            <a class="btn btn-primary float-right" href="/billet?id={{ post.getId() }}">Lire la suite &rarr;</a>
            </p>
          <p class="post-meta">
            {{ post.getDate()|e }}</p>
        </div>
        <hr>
        <!-- Pager -->
      </div>
    </div>
  </div>
  {% endfor %}

        <div class="clearfix col-lg-8 col-md-10 mx-auto ">
          <a class="btn btn-primary float-right" href="http://blog5.test/post">Voir plus de billets &rarr;</a>
        </div>

{% endblock %}
